<div class="bar bar-header bar-light">

  <button class="button button-icon icon super-ios-people"> {{ total }}</button>
  <div class="h1 title">Mind50</div>
  <button class="button button-icon icon super-ios-person crop"> {{ user.nick }}</button>

</div>

<div class="bg">
  <!--  BACKGROUND -->
</div>

<div class="padding">
  <div class="list" id="message-list" ng-controller="MessageListController">
    <div class="row" href="#" ng-repeat="msg in messages">
      <div class="col" ng-show="msg.user._id==user._id">
        <div class="nick" ng-class="{right: msg.user._id==user._id}">
          {{ msg.user._nick }}
        </div>
        <div class="bubble bubble--alt">
          <span>{{ msg.message }}</span>

          <time>{{ msg.created_time|relative }}</time>
        </div>
      </div>
      <div class="col-30 avatar-box">
        <img ng-src="https://robohash.org/{{msg.user._nick}}-mind50" class="avatar60">
      </div>
      <div class="col"  ng-hide="msg.user._id==user._id">
        <div class="nick">
          {{ msg.user._nick }}
        </div>
        <div class="bubble">
          <span>{{ msg.message }}</span>

          <time>{{ msg.created_time|relative }}</time>
        </div>
      </div>
    </div>
</div>
</div>
<div class="bar bar-footer" id="native-footer" ng-controller="MessageSendController">
  <textarea placeholder="Type your mind here ..." name="message_text" ng-model="message.text" rows="1" class="message-field"></textarea>
  <div class="send-button-box-circle" ng-class="{disabled: sending}" ng-click="submit()">
    <i class="icon super-chevron-right" id="send-button"></i>
  </div>
</div>
