<div ng-controller="AppController" id="Home">

<super-navbar>
    <super-navbar-title></super-navbar-title>
</super-navbar>
<div class="messages-wrap">
    <div ng-repeat="message in messages">
      <div class="card">
        <div class="message-title">{{ message.nick }}</div>
        <div class="item item-text-wrap">
            {{ message.message }}
        </div>
      </div>
    </div>
</div>

<div class="stiky-footer">  
    <div id="text_field_with_stacked_label1">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <input type="text" placeholder="Введите сообщение" ng-model="message.text">
            </label>
        </div>
    </div>

<div id="button2" ng-click="submit()">
    <button class="button button-positive">
        Отправить
    </button>
</div>



</div>

</div>
